---
import { ViewTransitions } from 'astro:transitions';
---
<html transition:animate="slide">
  <head>
    <title>Info page</title>
    <ViewTransitions />
  </head>
  <div>
    <h1>Info page</h1>
  </div>
</html>
